<!DOCTYPE html>
<html lang="it"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KMeans</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Progetto MAP</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Home Page</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/kmeans}">Cos'è il KMeans</a>
            </li>
        </ul>
    </div>
</nav>
<br>

<div class="page_intro">
<h1>
  Ciao e benvenuto nel KMeans
</h1>
</div>

<div class="container">
    <div class ="row">
        <h1> OPZIONI DISPONIBILI</h1>
    </div>
            <a th:href="@{/filekmeans}" class="btn btn-primary">Carica dati da file</a>

            <a th:href="@{/newkmeans}" class="btn btn-primary">Crea un nuovo clusterSet</a>
</div>

<div class="error">
    <b th:text="${error}"></b>
</div>

</body>
</html>

<style>
    .page_intro {
        text-align: center;
        margin-top: 5%;
    }



    .container {
        margin-top: 5%;
        text-align: center;
    }

    .btn-primary {
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;

    }

    .error {
        margin-top: 5%;
        text-align: center;
        color: red;
        font-size: large;
        font-style: italic;
    }
</style>